<header class="nav d-flex justify-content-between">
  <div class="btn-group">
    <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Navigation
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" routerLink="">Home page</a>
      <a class="dropdown-item" routerLink="/products">Products</a>
      <a class="dropdown-item" routerLink="/contacts">Contacts</a>
      <a class="dropdown-item" routerLink="/basket">Basket</a>
    </div> 
  </div>
  <div class="reg">
  <button type="button" class="btn btn-info" routerLink="/signup">sign-up</button>
  <button type="button" class="btn btn-success ml-2" routerLink="/signin">Sign-in</button>
</div>
</header>
<router-outlet></router-outlet>



