<section class="container">
<div class="row">
<ul class="col-9 product-row d-flex flex-wrap">
   <li class="card" *ngFor="let p of products">
         <div class="card-body" data-id="{{ p.id }}">
           <h5 class="card-title">{{ p.name }}</h5>
           <h6 class="card-subtitle mb-2 text-muted">{{ p.color }}</h6>
           <h6 class="card-subtitle mb-2">{{ p.price }} $</h6>
           <a (click)="addToBasket(p)" class="btn btn-primary" *ngIf="p.isAvailable">In basket</a>
           <p class="btn btn-dark" *ngIf="!p.isAvailable">Sold</p>
         </div>
   </li>
</ul>
   <div class="query-params col-3 d-flex bg-dark">
b
   </div>
</div>
</section>